<div class="modal-overlay" (click)="closeModal()"></div>

<div class="modal-container">
  @if (inscriptionError) {
    <div @slideFromTop class="warning-box error">
      <h3>Une erreur est survenue ...</h3>
      <p>{{ inscriptionError.message }}</p>
    </div>
  }
  <form [formGroup]="inscriptionForm" class="inscription-form" (submit)="inscription()">
    <h3>Inscription</h3>
    <input
      [ngClass]="{ invalid: isInvalidField('firstName') }"
      placeholder="Prénom"
      type="text"
      formControlName="firstName"
    />
    <input
      [ngClass]="{ invalid: isInvalidField('lastName') }"
      placeholder="Nom"
      type="text"
      formControlName="lastName"
    />
    <input
      [ngClass]="{ invalid: isInvalidField('email') }"
      placeholder="Email"
      type="email"
      formControlName="email"
    />
    <input
      [ngClass]="{ invalid: isInvalidField('password') }"
      placeholder="Mot de passe"
      type="password"
      formControlName="password"
    />
    <button class="btn-1" type="submit">
      @if (chargementEnCours) {
      <div class="loader"></div>
      } @else {
      <h3>Inscription</h3>
      }
    </button>
    <div class="ou-ligne">
      <div class="ligne"></div>
      <p>ou</p>
      <div class="ligne"></div>
    </div>
    <button (click)="switchLogin()">Se connecter</button>
  </form>
</div>
